<!DOCTYPE html>
<html>
<head>
	<title>d3.js range selection with drag</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<p id="clicktime" style="position:absolute; margin-left:20px; pointer-events: none;">Click Time</p>
<p id="attributestext" style="position:absolute; margin-left:300px; pointer-events: none;">Attributes</p>
<p id="messagetext" style="position:absolute; margin-left:600px; pointer-events: none;">Message</p>
<svg width="960" height="500"></svg>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="app.js"></script>
</body>
</html>